<div class="row">
  <div class="col-md-2">
    <%= render partial: "form" %>
    <br>
    <div class="example">Example:</div>
    <div class="example">..for San Francisco</div>
    <div class="example">lat:    37.7833</div>
    <div class="example">lng:   -122.4167</div>
    <div class="example">radius: 10</div>
    
  </div>
  
  <div class="col-md-4 tweet-feed">
  </div>

  <div class="col-md-6">
    <div id="map-canvas"></div>
  </div>
</div>




