<div class="row">
  <div class="col-md-2">
    <%= render partial: "form" %>
  </div>
  
  <div class="tweet-feed col-md-4">
  </div>

  <div class="col-md-6">
    <div id="map-canvas"></div>
  </div>
</div>




