<div class="pagination-links">
  <% if (data.tweets.length === 0) { %>
    <ul class="pagination">
      <li><a href='#' class="previous">&laquo; prev</a></li>
    </ul>
    <br><span class="notice">No Tweets</span>
  <% } else { %>
    <ul class="pagination">
      <% if (parseInt(data.page) === 1 ) { %>
        <li><a href="#" class="next">next &raquo;</a></li>
      <% } else { %>
        <li><a href='#' class="previous">&laquo; prev</a></li>
        <li><a href='#' class="next">next &raquo;</a></li>
      <% } %>
    </ul>
  <% } %>
</div>